.blog{
    h1{
        font-weight: bold;
        line-height: 37px;
        font-size: 28px;
        color: #FFFFFF;
        margin-bottom: 13px;
    }
}
.blog__section{
    width: 100%;
    float: left;
    margin-bottom: 80px;
    article{
        width: 865px;
        height: 400px;
        clear: both;
        background-color: #fff;
        margin: 15px 0 10px;
        &.service{
            width: 31.8%;
            height: auto;
            clear: none;
            .thumbnail{
                width: 100%;
                height: 270px;
                background-position: bottom center;
            }
            .content{
                width: 100%;
                height: 100px;
                padding: 20px 35px 50px 30px;
                &:hover{
                    text-decoration: none;
                    h2{
                        &::after{
                            -webkit-transform: translateX(10px);
                                    transform: translateX(10px);
                        }
                    }
                }
                h2{
                    line-height: 28px;
                    &::after{
                        content: '';
                        width: 19px;
                        height: 12px;
                        display: inline-block;
                        margin: 3px 0 0 6px;
                        background-image: url(../images/arrow.svg);
                        -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                    }
                }
            }
            &.float-left{
                margin-right: 1.5%;
                border: none;
                border-bottom: 5px solid #FDBF31;
            }
            &.float-right{
                margin-left: 1.5%;
                border: none;
                border-bottom: 5px solid #FDBF31;
            }
        }
        h2{
            font-weight: bold;
            line-height: 31px;
            font-size: 20px;
            color: #282828;
            margin-bottom: 9px;
        }
        p{
            font-style: normal;
            font-weight: normal;
            line-height: 25px;
            font-size: 16px;
            color: #4C4C4C;
        }
        .thumbnail{
            width: 430px;
            height: 400px;
            display: block;
            float: left;
            background-size: cover;
            background-position: center;
            box-shadow: 0 6px 15px rgba(29,29,29,.45);
        }
        .content{
            width: 430px;
            height: 400px;
            padding: 50px 36px 50px 30px;
            display: block;
            float: left;
            background-color: #fff;
            position: relative;
            overflow: hidden;
            .excerpt{
                width: 100%;
                height: 80%;
                float: left;
            }
            a{
                &:hover{
                    text-decoration: none;
                    h2{
                        &::after{
                            -webkit-transform: translateX(10px);
                                    transform: translateX(10px);
                        }
                    }
                }
                h2{
                    &::after{
                        content: '';
                        width: 19px;
                        height: 12px;
                        display: inline-block;
                        margin: 3px 0 0 6px;
                        background-image: url(../images/arrow.svg);
                        -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                    }
                }
            }
        }
        &.float-left{
            border-right: 5px solid #FDBF31;
        }
        &.float-right{
            border-left: 5px solid #FDBF31;
        }
    }
}
@media screen and (max-width: 1500px){
    .blog__section {
        width: 100%;
        article{
            width: 80%;
            .thumbnail,
            .content{
                width: 50%;
            }
        }
    }
}
@media screen and (max-width: 1300px){
    .blog__section {
        width: 100%;
        article{
            width: 90%;
        }
    }
}
@media screen and (max-width: 1200px){
    .blog__section {
        width: 100%;
        article{
            width: 100%;
        }
    }
}
@include media-breakpoint-down(md) {
    .content__wrapper.blog{
        h1{
            position: relative;
            &::after{
                content: '';
                width: 6px;
                height: 15px;
                display: block;
                position: absolute;
                background-color: #FDBF31;
                border-radius: 2px;
                bottom: 12px;
                right: 14px;
                z-index: 11;
            }
            &::before{
                content: '';
                width: 16px;
                height: 37px;
                display: block;
                border: 1px solid #FDBF31;
                border-radius: 7px;
                position: absolute;
                bottom: 0px;
                right: 9px;
                z-index: 12;
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .blog__section {
        width: 100%;
        article{
            height: auto;
            .thumbnail,
            .content{
                width: 100%;
            }
            .thumbnail{
                height: 300px;
            }
            .content{
                height: auto;
                padding: 30px;
                .excerpt{
                    height: auto;
                }
            }
            &.service{
                width: 100%;
                .thumbnail{
                    height: 200px;
                }
                &.float-left{
                    margin-right: 0;
                }
                &.float-right{
                    margin-left: 0;
                }
            }
        }
    }
}
