footer{
    width: 100%;
    float: left;
    .address__info{
        width: 100%;
        float: left;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 10px;
        a{
            color: #fff;
            &:hover{
                color: #FDBF31;
            }
        }
        .address{
            padding-left: 20px;
            margin-right: 40px;
            position: relative;
            &::before{
                content: '';
                display: block;
                width: 13px;
                height: 19px;
                position: absolute;
                left: 0;
                top: -2px;
                background-image: url(../images/pin.svg);
            }
        }
        .timetable{
            padding-left: 27px;
            &::before{
                content: '';
                display: block;
                width: 19px;
                height: 19px;
                position: absolute;
                left: 0;
                top: -2px;
                background-image: url(../images/timetable-white.svg);
            }
        }
        div{
            position: relative;
        }
    }
    .contacts__info{
        width: 100%;
        float: left;
    }
    .contact__line{
        width: 100%;
        min-height: 50px;
        float: left;
        background-color: #282828;
        padding: 26px 0 25px;
        position: relative;
        z-index: 1;
        .social__links{
            height: 18px;
            display: block;
            margin-left: 40px;
            a{
                width: 18px;
                height: 18px;
                display: block;
                float: left;
                margin-left: 20px;
                background-position: center;
                background-size: cover;
                -webkit-transition: all 0.8s ease;
                transition: all 0.8s ease;
                &:hover{
                    -webkit-transform: rotateZ(360deg);
                    transform: rotateZ(360deg);
                }
                &.facebook{
                    background-image: url(../images/facebook.svg);
                }
                &.instagram{
                    background-image: url(../images/instagram.svg);
                }
            }
        }
        .phone__block{
            margin-left: 60px;
            a{
                font-weight: normal;
                line-height: normal;
                font-size: 14px;
                font-weight: 300;
                color: #FFFFFF;
                padding-left: 20px;
                position: relative;
                margin-top: 0;
                display: block;
                float: left;
                &:first-child{
                    padding-left: 21px;
                }
                &:hover{
                    text-decoration: none;
                    color: #FDBF31;
                }
                &:first-child{
                    &::before{
                        content: '';
                        width: 14px;
                        height: 19px;
                        display: block;
                        position: absolute;
                        top: -1px;
                        left: 0;
                        background-image: url(../images/phone.svg);
                        // animation: quick-alo-circle-img-anim 0.8s infinite ease-in-out;
                    }
                    // &::after{
                    //     content: '';
                    //     width: 44px;
                    //     height: 44px;
                    //     border-radius: 50%;
                    //     display: block;
                    //     border: 1px solid rgba(253, 191, 49, 0.6);
                    //     position: absolute;
                    //     top: -13.5px;
                    //     left: -15.5px;
                    //     background-color: transparent;
                    //     animation: pulse 1.2s infinite ease-in-out;
                    // }
                }
            }
        }
        .email__block{
            line-height: 0;
            margin-left: 0;
            a{
                line-height: normal;
                font-size: 14px;
                font-weight: 300;
                color: #FFFFFF;
                &:hover{
                    color: #FDBF31;
                }
            }
        }
    }
}
.calback__button{
    position: fixed;
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    bottom: 60px;
    right: 60px;
    background-color: #282828;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204,169,44, 0.8);
    animation: pulse 1s infinite;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    &::before{
        content: '';
        width: 26px;
        height: 36px;
        display: block;
        position: absolute;
        background-image: url(../images/phone-large.svg);
        top: 23px;
        left: 28px;
    }
    &:hover{
        background-color: #fff;
        &::before{
            animation: quick-alo-circle-img-anim 0.8s infinite ease-in-out;
        }
        .tip__block{
            opacity: 1;
            visibility: visible;
            top: -110px;
        }    
    }
    .tip__block{
        position: absolute;
        width: 225px;
        min-height: 95px;
        padding: 20px 25px;
        height: auto;
        top: -130px;
        right: 0;
        background-color: #282828;
        border-radius: 10px;
        color: #fff;
        font-weight: 300;
        font-size: 15px;
        line-height: normal;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .3s ease;
                transition: all .3s ease;
        &::after{
            content: '';
            display: block;
            position: absolute;
            bottom: -7px;
            right: 35px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 6px 0 6px;
            border-color: #282828 transparent transparent transparent;
        }
    }
    // &::after{
    //     content: '';
    //     width: 160px;
    //     height: 160px;
    //     border-radius: 50%;
    //     display: block;
    //     border: 3px solid rgba(253, 191, 49, 0.6);
    //     position: absolute;
    //     top: -40px;
    //     left: -40px;
    //     background-color: transparent;
        
    // }
}
.popup__wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 19;
    pointer-events: none;
    &.show__sidebar{
        pointer-events: auto;
    }
}
.popup__sidebar{
    width: 100%;
    max-width: 350px;
    height: 100%;
    padding: 0 44px;
    position: fixed;
    top: 0;
    z-index: 100;
    overflow: auto;
    background: rgba(23, 53, 76, 0.9);
    -webkit-transition: all .5s ease;
            transition: all .5s ease;
    &.hide__sidebar{
        right: -100%;
    }
    &.show__sidebar{
        right: 0;
    }
    .popup_block{
        margin-top: 225px;
        h2{
            font-weight: bold;
            line-height: 28px;
            font-size: 24px;
            color: #FFFFFF;
            margin-bottom: 40px;
        }
    }
    .form-group{
        margin-bottom: 25px;
    }
    div.wpcf7-response-output{
        margin: -15px 0 0;
    }
}
@media screen and (max-height: 800px){
    .popup__sidebar{
        .popup_block{
            margin-top: 150px;
        }
    }
}
@include media-breakpoint-down(md) {
    .calback__button{
        width: 60px;
        height: 60px;
        right: 25px;
        bottom: 100px;
        &::before{
            top: 11px;
            left: 17px;
        }
    }
}
@include media-breakpoint-down(sm) {
    footer .contact__line .social__links{
        width: 100%;
        float: left;
        margin-left: 0;
        margin-top: 20px;
        &.float-right{
            float: left!important;
        }
        a{
            margin-left: 0;
            margin-right: 20px;
        }
    }
}
@include media-breakpoint-down(xs) {
    footer {
        .address__info {
            .address{
                width: 100%;
                float: left;
                margin-bottom: 10px;
            }
            .timetable{
                width: 100%;
                float: left;
                margin-bottom: 10px;
            }
        }
        .contacts__info{
            margin-top: 5px;
        }
        .contact__line{
            .email__block{
                width: 100%;
                float: left;
                margin-bottom: 10px;
            }
            .phone__block{
                width: 100%;
                float: left;
                margin-left: 0;
            }
        }
    }
    .popup__sidebar{
        width: 80%;
        max-width: inherit;
        padding: 0 20px;
    }
}