@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,500,700&subset=cyrillic-ext&display=swap');
*{
    // cursor: url(../images/cursor.svg),auto!important; 
}
html{
    // cursor: url(../images/cursor.svg),auto!important;
    position: relative;
    // overflow-x: hidden;
}
body{
    font-family: 'Fira Sans', sans-serif;
    // overflow: hidden;
    &.ready{
        .quotes__block{
            top: 50%;
            opacity: 1;
            visibility: visible;
        }
    }
    &.load{
        // overflow-y: auto;
    }
}
h1{
    font-weight: bold;
    line-height: 37px;
    font-size: 28px;
    color: #FFFFFF;
    margin-bottom: 13px;
}
h2{
    font-weight: bold;
    line-height: 37px;
    font-size: 28px;
    color: #FFFFFF;
    margin-bottom: 13px;
    span{
        color: #FDBF31;
    }
}
h3{
    font-weight: bold;
    line-height: 30px;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 13px;
}
h4{
    font-weight: bold;
    line-height: 28px;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 13px;
}
h5{
    font-weight: bold;
    line-height: 26px;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 13px;
}
h6{
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #FFFFFF;
}
p{
    font-weight: 400;
    line-height: 25px;
    font-size: 16px;
    color: rgba(255,255,255,0.85);
}
a{
    color: #FDBF31;
}
ol{
    li{
        font-weight: 400;
        line-height: 23px;
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
}
.overflow-x-hidden{
    overflow-x: hidden;
}
.preloader__wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-image: url(../images/preloader.jpg);
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    .line{
        width: 0;
        height: 4px;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #FDBF31;
        animation: loadingline 1.5s linear infinite;
    }
    &.hide{
        opacity: 0;
        visibility: hidden;
        z-index: 10;
    }
    .quotes__block{
        width: 550px;
        position: absolute;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 10;
        text-align: center;
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;
        p{
            font-family: 'Fira Sans', sans-serif;
            font-style: italic;
            font-weight: normal;
            line-height: normal;
            font-size: 35px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 9px;
            span{
                color: #FDBF31;
            }
        }
        small{
            font-weight: normal;
            line-height: normal;
            font-size: 20px;
            color: #FDBF31;
            float: right;
            margin-right: 4px;
        }
    }
}

.form__inline{
    width: 100%;
    // max-width: 670px;
    form{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
}
form{
    .wpcf7-form-control-wrap{
        position: relative;
        span.wpcf7-not-valid-tip{
            position: absolute;
            bottom: -30px;
            left: 0;
            font-size: 11px;
            color: #fff;
        }
    }
}
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing{
    border: 1px solid #FDBF31;
}
div.wpcf7-response-output{
    width: 100%;
    max-width: 634px;
    margin: 40px 0 0;
    clear: both;
    padding: 10px 15px;
    font-size: 13px;
    color: #fff;
    text-align: center;
}
@include media-breakpoint-down(sm) {
    .preloader__wrapper .quotes__block{
        width: 100%;
        max-width: 380px;
        p{
            font-size: 24px;
            line-height:: 26px;
        }
        small{
            font-size: 16px;
        }
    }
}
@include media-breakpoint-down(xs) {
    .preloader__wrapper .quotes__block{
        max-width: 315px;
        p{
            font-size: 20px;
            line-height:: 26px;
        }
        small{
            font-size: 14px;
        }
    }
}
@keyframes loadingline {
    from { width: 0; }
    to { width: 100%; }
}
.lg-outer{
    cursor: auto;
}
.col__row{
    width: 100%;
    float: left;
}
.col__50{
    width: 50%;
    float: left;
    display: block;
    .contact__form{
        float: left;
        margin-left: 20px;
    }
}
@include media-breakpoint-down(md) {
    .col__50 .contact__form{
        margin-left: 0;
        width: 100%;
        .form__inline .form-group{
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
            .form__field{
                &.small,
                &.medium{
                    width: 100%;
                }
            }
        }
        .form__submit{
            width: 100%;
            margin-left: 0;
        }
    }
}
::selection {
  background: #FDBF31; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FDBF31; /* Gecko Browsers */
}
// ::-webkit-scrollbar {
//     width: 2px;
// }
// ::-webkit-scrollbar-track {
//     background: #f5f5f5;
//     -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
// }
// ::-webkit-scrollbar-thumb {
//     background: #FDBF31;
//     -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
// }
// ::-webkit-scrollbar-thumb:hover {
//     background: rgba(16,16,16,1);
// }
// ::-webkit-scrollbar-thumb:active {
//     background: #fbaf00;
//     -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
// }
a,
input[type="submit"]{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:focus{
        outline: none;
    }
}
img{
    // width: 100%;
    height: auto;
    max-width: 100%;
}
main{
    width: 100%;
    float: left;
    position: relative;
    z-index: 10;
    padding-top: 60px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &.show__sidebar{
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        filter: blur(5px);
        // filter: url('../images/blur.svg#blur'); 
    }
}
.btn{
    display: block;
    height: 40px;
    line-height: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    font-size: 15px;
    color: #282828;
    border: none;
    padding: 0 30px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #282828;
    &:focus{
        outline: none;
        box-shadow: none;
    }
    &.small{
        height: 36px;
        font-size: 14px;
        line-height: 36px;
        padding: 0 20px;
    }
    &:focus{
        box-shadow: none;
    }
    &::before{
        content:'';
        display: block;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 5;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    span{
        position: relative;
        z-index: 10;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    &.shadow{
        box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
    }
    &:hover{
        text-decoration: none;
        &::before{
            width: 0;
            height: 0;
        }
        span{
            color: #fff;
        }
    }
    &.yellow__btn{
        &::before{
            background-color: #FDBF31;
        }
    }
    &.white__btn{
        &::before{
            background-color: #fff;
        }
    }
}
.button__group{
    a,
    button{
        float: left;
        margin-right: 23px;
    }
}
.field__group{
    margin: 0 -10px;
    .half{
        width: 50%;
        float: left;
        padding: 0 10px;
        input{
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &.default{
        width: 100%;
        float: left;
        margin: 0 0 20px 0;
    }
}
.form-group{
    margin-bottom: 20px;
    &.full{
        width: 100%;
        textarea{
            width: 100%;
        }
    }
}
.select2-container {
    .select2-selection--single{
        height: 40px;
        border: none;
        border-radius: 3px;
        .select2-selection__rendered{
            padding: 0 20px;
            font-weight: normal;
            line-height: 40px;
            font-size: 15px;
            color: #353535;
        }
        .select2-selection__arrow{
            height: 40px;
            top: 0;
            right: 0;
        }
    }
    &.select2-container--focus{
        .select2-selection{
            box-shadow: none;
            outline: none;
            border: none;
        }
    }
}
// .select2-dropdown{
//     margin-top: -30px;
// }
.select2-results__option{
    padding: 5px 20px;
    font-size: 15px;
    color: #353535;
}
.form__field{
    height: 40px;
    padding: 0 20px;
    font-weight: normal;
    line-height: 19px;
    font-size: 14px;
    color: #353535;
    background: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 3px;
    outline: none;
    &.hidden{
        display: none;
    }
    &.small{
        width: 182px;
    }
    &.medium{
        width: 220px;
    }
    &.full{
        width: 100%;
    }
    &.no__shadow{
        width: 100%;
        float: left;
        box-shadow: none;
        border: 1px solid rgba(64, 64, 64, 0.12)
    }
    &.wpcf7-not-valid,
    &.error{
        border-color: rgba(255,0,0,0.5);
    }
}
textarea.form__field{
    height: auto;
    padding: 15px 20px;
    resize: none;
}
.form__submit{
    height: 40px;
    padding: 0 30px;
    background: #FDBF31;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    font-weight: normal;
    line-height: 22px;
    font-size: 15px;
    border: none;
    color: #353535;
    outline: none;
    &:hover{
        background-color: #282828;
        color: #fff;
    }
    &.large{
        width: 182px;
    }
    &.full{
        width: 100%;
    }
}
.form__inline{
    .form-group{
        margin-right: 20px;
        margin-bottom: 0;
    }
    input[type="submit"]{
        margin-left: 10px;
    }
    p{
        margin-bottom: 0;
    }
}
@include media-breakpoint-down(md) {
    main{
        padding-top: 70px;
    }
}
@include media-breakpoint-down(sm) {
    .form__inline{
        max-width: 100%;
        .form-group{
            width: 100%;
            margin-right: 0;
            margin-bottom: 25px;
            .form__field.small,
            .form__field.medium{
                width: 100%;
            }
        }
        p{
            width: 100%;
        }
        input[type=submit]{
            margin-left: 0;
            width: 100%;
        }
        div.wpcf7-response-output{
            max-width: 100%;
            margin: 10px 0 0;
        }
        .wpcf7-form-control-wrap span.wpcf7-not-valid-tip{
            bottom: -30px;
        }
    }
}
.page__wrapper{
    width: 100%;
    min-height: 100vh;
    float: left;
    position: relative;
    // overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .large__logo{
        height: 80%;
        position: absolute;
        top: 10%;
        right: 74px;
        bottom: 10%;
        display: block;
        pointer-events: none;
        text-align: right;
        img{
            height: 100%;
            pointer-events: none;
        }
    }
    .title{
        width: 100%;
        float: left;
    }
}
.content__wrapper{
    width: 100%;
    float: left;
    padding-top: 110px;
    .page__title{
        width: 100%;
        float: left;
        h1{
            margin-bottom: 50px;
        }
    }
    &.content{
        &.page{
            padding-top: 110px;
            .numbers {
                width: 100%;
                float: left;
                padding: 70px 0;
                background-color: #fff;
                h3{
                    color: #282828;
                    margin-bottom: 10px;
                }
            }
            .benefits{
                padding: 65px 0;
            }
        }
        &.full{
            padding-right: 200px;
        }
        &.dark__content{
            color: #282828;
            h1,h2,h3,h4,h5,h6{
                color: #282828;
            }
            p{
                 color: #505050;
            }
        }
        .text__block{
            width: 100%;
            float: left;
            margin-bottom: 30px;
            ul{
                padding: 0;
                margin: 0;
                list-style-position: inside;
                list-style: none;
                li{
                    font-weight: 400;
                    line-height: 23px;
                    font-size: 16px;
                    color: #FFFFFF;
                    margin-bottom: 10px;
                    position: relative;
                    padding-left: 18px;
                    &::before{
                        content: '';
                        width: 6px;
                        height: 6px;
                        display: block;
                        float: left;
                        position: absolute;
                        top: 9px;
                        left: 0;
                        background-color: #FDBF31;
                        border-radius: 50%;
                    }
                }
            }
        }
        .numbers{
            padding: 0;
            .numbers__row{
                width: 100%;
                float: left;
            }
            .number__block{
                width: 270px;
                height: 200px;
                margin: 20px 20px 0 0;
                padding: 30px 20px 30px;
                display: block;
                float: left;
                background: #fff;
                border: 1px solid rgba(64, 64, 64, 0.2);
                color: #FFFFFF;
                position: relative;
                &:last-child{
                    margin-right: 0;
                }
                .block{
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    .number{
                        font-weight: 500;
                        line-height: 77px;
                        font-size: 64px;
                        margin-bottom: 10px;
                        color: #FDBF31;
                        .text{
                            margin-left: -10px;
                        }
                    }
                    .desc{
                        line-height: 22px;
                        font-size: 16px;
                        font-weight: 500;
                        color: #282828;
                    }
                }
            }
        }
        .testimonials__block{
            padding: 40px 0 80px;
        }
        .testimonials__slider{
            width: 100%;
            max-width: 680px;
            background: #fff;
            margin-top: 20px;
            box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
            position: relative;
            border-top: 4px solid #FDBF31;
            &::before{
                content: '';
                width: 20px;
                height: 20px;
                background-image: url(../images/quote-top.svg);
                position: absolute;
                top: 20px;
                left: 20px;
            }
            &::after{
                content: '';
                width: 20px;
                height: 20px;
                background-image: url(../images/quote-bottom.svg);
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
            .slide{
                .block{
                    width: 100%;
                    min-height: 170px;
                    padding: 38px 50px 90px 50px;
                    position: relative;
                    p{
                        margin-bottom: 15px;
                        font-style: italic;
                        font-weight: normal;
                        line-height: 22px;
                        font-size: 14px;
                        color: #282828;

                    }
                    h6{
                        margin-top: 35px;
                        margin-bottom: 0;
                        font-weight: normal;
                        line-height: 22px;
                        font-size: 14px;
                        color: #777777;
                        padding-left: 90px;
                    }
                    .avatar{
                        width: 70px;
                        height: 70px;
                        position: absolute;
                        background-size: cover;
                        background-position: center;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .benefits{
            width: 100%;
            float: left;
            padding: 0;
            margin: 0 0 30px;
            h3{
                margin-bottom: 50px;
                text-align: center;
            }
            ul{
                width: 100%;
                float: left;
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    width: 50%;
                    min-height: 85px;
                    display: block;
                    float: left;
                    position: relative;
                    margin-bottom: 20px;
                    text-align: center;
                    &:nth-child(3){
                        width: 50%;
                        margin: 0 25% 20px;
                    }
                    .image{
                        width: 90px;
                        height: 90px;
                        background-color: #fff;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 30px;
                        border-radius: 50%;
                        display: block;
                        margin: 0 auto 10px;
                    }
                    h6{
                        max-width: 300px;
                        padding-top: 10px;
                        margin: 0 auto;
                    }
                }
            }
        }
        .services{
            padding: 0 0 45px 0;
            h3{
                margin-bottom: 25px;
            }
            .services__row{
                .service__block{
                    width: 230px;
                    height: 230px;
                    margin: 12px 27px 0 0;
                    display: inline-flex;
                    background: rgba(255, 255, 255, 0.05);
                    border: 1px solid rgba(104, 138, 164, 0.16);
                    box-sizing: border-box;
                    text-align: center;
                    color: #FFFFFF;
                    position: relative;
                    .block{
                        position: absolute;
                        width: 100%;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        .icon{
                            margin-bottom: 38px;
                        }
                        h6{
                            font-weight: normal;
                            line-height: 23px;
                            font-size: 16px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .contact__form{
            padding: 15px 0 40px;
            &.full{
                width: 100%;
                margin-left: 0;
                padding: 50px 0 0 134px;
                margin-top: 30px;
                form{
                    width: 100%;
                    float: left;
                }
            }
            h2{
                margin-bottom: 35px;
            }
        }
        .price__group{
            width: 100%;
            float: left;
            margin-bottom: 60px;
            padding-right: 80px;
            .title__row{
                width: 100%;
                position: relative;
                img{
                    position: absolute;
                    left: 20px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                            transform: translateY(-50%);
                }
                h2{
                    padding-left: 60px;
                }
            }
            ul{
                width: 100%;
                float: left;
                padding: 0;
                margin: 0;
                list-style: none;
                li{
                    width: 100%;
                    float: left;
                    position: relative;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 16px;
                    color: #FFFFFF;
                    padding: 9px 160px 9px 41px;
                    margin: 7px 0;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                    border-radius: 2px;
                    .text{
                        float: left;
                    }
                    .price{
                        position: absolute;
                        right: 30px;
                        top: 10px;
                    }
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                    &::before{
                        content: '';
                        width: 9px;
                        height: 9px;
                        display: block;
                        border: 2px solid #fff;
                        border-radius: 50%;
                        position: absolute;
                        top: 13px;
                        left: 20px;
                    }
                }
            }
        }
        .contact__block{
            width: 100%;
            padding: 50px 67px;
            min-height: 535px;
            background: #fff;
            box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
            margin-bottom: 60px;
            border-right: 4px solid #FDBF31;
            h3{
                font-style: normal;
                font-weight: bold;
                line-height: 37px;
                font-size: 28px;
                color: #282828;
                margin-bottom: 25px;
            }
            span{
                font-weight: normal;
                line-height: normal;
                font-size: 23px;
                color: #282828;
                padding-left: 15px;
            }
            a{
                font-weight: normal;
                line-height: normal;
                font-size: 23px;
                color: #282828;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
            .address__line{
                position: relative;
                margin: 0 0 40px 0;
                padding-left: 37px;
                display: block;
                &::before{
                    content: '';
                    width: 15px;
                    height: 21px;
                    display: block;
                    background-image: url(../images/pin-large.svg);
                    position: absolute;
                    top: 2px;
                    left: 0;
                }
            }
            .phone__block{
                margin: 0 0 40px 0;
                padding-left: 37px;
                position: relative;
                &::before{
                    content: '';
                    width: 16px;
                    height: 21px;
                    display: block;
                    background-image: url(../images/phone-black.svg);
                    position: absolute;
                    top: 2px;
                    left: 0;
                }
            }
            .email__block{
                margin: 0 0 40px 0;
                position: relative;
                padding-left: 37px;
                &::before{
                    content: '';
                    width: 24px;
                    height: 16px;
                    display: block;
                    background-image: url(../images/email-black.svg);
                    position: absolute;
                    top: 6px;
                    left: 0;
                }
            }
            .timetable__block{
                margin: 0 0 70px 0;
                position: relative;
                padding-left: 37px;
                &::before{
                    content: '';
                    width: 25px;
                    height: 25px;
                    display: block;
                    background-image: url(../images/timetable-black.svg);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                span{
                    font-weight: normal;
                    line-height: normal;
                    font-size: 23px;
                    color: #282828;
                    margin-right: 50px;
                    clear: both;
                    display: block;
                }
            }
            .social{
                .social__links{
                    width: 100%;
                    display: block;
                    margin-bottom: 35px;
                    a{
                        width: 26px;
                        height: 26px;
                        display: inline-block;
                        margin-right: 23px;
                        background-position: center;
                        background-size: cover;
                        -webkit-transition: all 0.8s ease;
                                transition: all 0.8s ease;
                        &:hover{
                            -webkit-transform: rotateZ(360deg);
                                    transform: rotateZ(360deg);
                        }
                        &.facebook{
                            background-image: url(../images/facebook-black.svg);
                        }
                        &.instagram{
                            background-image: url(../images/instagram-black.svg);
                        }
                    }
                }
            }
        }
        .company__benefits{
            width: 100%;
            float: left;
            margin-bottom: 80px;
            .benefits__sections{
                width: 100%;
                float: left;
                margin: 120px 0 0;
                .benefit__nav__bar{
                    width: 100%;
                    float: left;
                    position: sticky;
                    top: 120px;
                    h3{
                        cursor: pointer;
                        filter: blur(3px);
                        margin-bottom: 25px;
                        -webkit-transition: all 0.2s ease;
                                transition: all 0.2s ease;
                        &.active{
                            filter: blur(0px);
                        }
                    }
                }
            }
            .benefit__section{
                width: 100%;
                float: left;
                margin-bottom: 100px;
                &:last-child{
                    margin-bottom: 0;
                }
                .content{
                    width: 100%;
                    float: left;
                    .benefit{
                        width: 100%;
                        float: left;
                        margin-bottom: 40px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        .icon{
                            width: 100%;
                            float: left;
                            margin-bottom: 20px;
                        }
                        h4{
                            margin-bottom: 10px;
                        }
                        p{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .service{
            &__wrapper{
                width: 100%;
                float: left;
                background-color: #fff;
            }
            &__banner{
                width: 100%;
                height: 500px;
                background-position: center;
                background-size: cover;
                float: left;
                position: relative;
                margin-bottom: 50px;
                h1{
                    position: absolute;
                    bottom: 20px;
                    left: 97px;
                    right: 97px;
                    padding: 37px 20px;
                    color: #282828;
                    background-color: rgba(253,191,49,0.95);
                    margin-bottom: 0;
                }
                .close{
                    width: 40px;
                    height: 40px;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: #FDBF31;
                    opacity: 1;
                    cursor: pointer;
                    z-index: 1;
                    span{
                        width: 20px;
                        height: 2px;
                        position: absolute;
                        background-color: #282828;
                        display: block;
                        top: 50%;
                        left: 50%;
                        opacity: 0;
                        visibility: hidden;
                        margin: -1px 0 0 -5px;
                        -webkit-transition: all 0.2s ease;
                                transition: all 0.2s ease;

                    }
                    &::before{
                        content: '';
                        width: 17px;
                        height: 2px;
                        background-color: #282828;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin: -1px 0 0 -8.5px;
                        -webkit-transition: all 0.2s ease;
                                transition: all 0.2s ease;
                        -webkit-transform: rotate(45deg);
                                transform: rotate(45deg);
                    }
                    &::after{
                        content: '';
                        width: 17px;
                        height: 2px;
                        background-color: #282828;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin: -1px 0 0 -8.5px;
                        -webkit-transition: all 0.2s ease;
                                transition: all 0.2s ease;
                        -webkit-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                    }
                    &:hover{
                        &::before{
                            width: 13px;
                            top: 25px;
                            left: 19px;
                        }
                        &::after{
                            width: 13px;
                            top: 15px;
                            left: 19px;
                        }
                        span{
                            opacity: 1;
                            visibility: visible;
                            margin: -1px 0 0 -10px;
                        }
                    }
                }
            }
            &__content{
                width: 100%;
                float: left;
                padding: 0 97px 60px;
                .btn__group{
                    .btn{
                        margin: 0 auto 50px;
                    }
                    &.small-margin{
                        .btn{
                            margin: 0 auto 20px;
                        }
                    }
                }
                h1,h2,h3,h4,h5,h6{
                    color: #282828;
                }
                .text__block ul li,
                p{
                    color: #505050;
                }
            }
        }
        .benefits__section{
            width: 100%;
            float: left;
            margin: 40px 0;
            h3{
                margin-bottom: 30px;
            }
            .benefits__block{
                width: 100%;
                float: left;
            }
            .benefit__block{
                width: 100%;
                float: left;
                margin-bottom: 30px;
                .icon{
                    width: 90px;
                    height: 90px;
                    display: block;
                    background-color: #FDBF31;
                    position: relative;
                    margin-bottom: 20px;
                    img{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        -webkit-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                    }
                }
                .content{
                    width: 100%;
                    float: left;
                    p{
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 22px;
                        color: #282828;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .stage__slider{
            width: 100%;
            float: left;
            &__wrapper{
                width: 100%;
                min-height: 550px;
                float: left;
                padding-right: 460px;
                position: relative;
            }
            &__block{
                width: 100%;
                float: left;
                margin-bottom: 80px;
                h3{
                    margin-bottom: 30px;
                }
            }
            &__navigation{
                width: 100%;
                height: 550px;
                float: left;
                overflow: hidden;
                .slick-list{
                    height: 100%!important;
                }
                .slide{
                    &.slick-current{
                        .nav__block{
                            opacity: 1;
                            .stage{
                                span{
                                    background-color: #FDBF31;
                                }
                                h6{
                                    opacity: 1;
                                    visibility: visible;
                                    &.title{
                                        opacity: 0;
                                        visibility: hidden;
                                    }
                                }
                            }
                            .content{
                                display: block;
                            }
                        }
                    }
                }
                .nav__block{
                    width: 100%;
                    float: left;
                    margin: 0 0 30px 0;
                    position: relative;
                    opacity: 0.3;
                    -webkit-transition: all 0.2s ease;
                            transition: all 0.2s ease;
                    &:last-child{
                        &::after{
                            display: none;
                        }
                    }
                    &.active{
                        
                    }
                    &::after{
                        content: '';
                        width: 1px;
                        height: 30px;
                        display: block;
                        position: absolute;
                        background-color: #404040;
                        left: 20px;
                        bottom: -20px;
                    }
                    .stage{
                        width: 100%;
                        float: left;
                        position: relative;
                        margin-bottom: 20px;
                        cursor: pointer;
                        span{
                            width: 36px;
                            height: 36px;
                            display: block;
                            background-color: #cfcfcf;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 36px;
                            text-align: center;
                        }
                        h6{
                            margin: 0;
                            font-weight: 600;
                            line-height: 22px;
                            display: block;
                            position: absolute;
                            top: 7px;
                            left: 46px;
                            opacity: 0;
                            visibility: hidden;
                            -webkit-transition: all 0.2s ease;
                                    transition: all 0.2s ease;
                            &.title{
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                    .content{
                        width: 100%;
                        float: left;
                        display: none;
                        margin: 0 0 20px 0;
                    }
                    h4{
                        margin: 0 0 8px 0;
                    }
                    p{
                        font-size: 16px;
                        line-height: 24px;
                        margin: 0;
                    }
                }
            }
            &__image{
                width: 560px;
                position: absolute;
                top: 0;
                right: -97px;
                .image{
                    width: 100%;
                    height: 550px;
                    display: block;
                    background-position: top left;
                    background-size: cover;
                }
                .slick-arrow{
                    position: absolute;
                    width: 34px;
                    height: 34px;
                    display: block;
                    top: 50%;
                    margin: -17px 0 0;
                    background-color: #FDBF31;
                    z-index: 1;
                    font-size: 0;
                    color: transparent;
                    border: none;
                    cursor: pointer;
                    -webkit-transition: all 0.2s ease;
                            transition: all 0.2s ease;
                            &:focus{
                        outline: none;
                    }
                    &::before{
                        content: '';
                        width: 9px;
                        height: 16px;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin: -8px 0 0 -4.5px;
                    }
                    &.slick-prev{
                        left: 0;
                        &::before{
                            background-image: url(../images/project-design/prev-slide.svg);
                        }
                    }
                    &.slick-next{
                        right: 0;
                        &::before{
                            background-image: url(../images/project-design/next-slide.svg);
                        }
                    }
                    &.slick-disabled{
                        opacity: 0.7;
                        pointer-events: none;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        .two__columns__section{
            width: 100%;
            float: left;
            margin: 0 0 15px;
            h3{
                margin-bottom: 30px;
            }
            .text__column{
                width: 100%;
                float: left;
                padding-right: 20px;
                ul{
                    width: 100%;
                    float: left;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li{
                        width: 100%;
                        float: left;
                        margin-bottom: 15px;
                        padding-left: 16px;
                        position: relative;
                        &::before{
                            content: '';
                            width: 5px;
                            height: 5px;
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 8px;
                            background-color: #FDBF31;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
        .faq__section,
        .faq__block{
            width: 100%;
            float: left;
            margin: 40px 0 30px;
            h3{
                margin-bottom: 30px;
            }
            .faq__{
                &wrapper{
                    width: 100%;
                    float: left;
                }
                &row{
                    width: 100%;
                    float: left;
                    margin: 0 0 5px;
                    padding: 20px 80px 5px 30px;
                    border: 1px solid rgba(64,64,64,0.12);
                    cursor: pointer;
                    &.show{
                        .icon{
                            &::before{
                                display: none;
                            }
                        }
                        .content{
                            display: block;
                        }
                    }
                    .icon{
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: 21px;
                        right: 20px;
                        &::before{
                            content: '';
                            width: 2px;
                            height: 20px;
                            background-color: #FDBF31;
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin: -10px 0 0 -1px;
                            -webkit-transition: all 0.2s ease;
                                    transition: all 0.2s ease;
                        }
                        &::after{
                            content: '';
                            width: 20px;
                            height: 2px;
                            background-color: #FDBF31;
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin: -1px 0 0 -10px;
                            -webkit-transition: all 0.2s ease;
                                    transition: all 0.2s ease;
                        }
                    }
                    .title{
                        width: 100%;
                        float: left;
                        h6{
                            margin-bottom: 15px;
                            font-weight: 600;
                        }
                    }
                    .icon{
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: 21px;
                        right: 21px;
                    }
                    .content{
                        width: 100%;
                        float: left;
                        display: none;
                        -webkit-transition: all 0.2s ease;
                                transition: all 0.2s ease;
                        p{
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }
                }
            }
        }
        .faq__section{
            margin: 0;
            padding: 70px 0 65px;
            background-color: #fff;
            h3,h6{
                color: #282828;
            }
            p{
                color: #505050;
            }
        }
        .three__columns__blocks{
            width: 100%;
            float: left;
            padding: 70px 0 35px;
            h3{
                margin-bottom: 30px;
            }
            .column__block{
                width: 100%;
                float: left;
                margin-bottom: 30px;
                .icon{
                    width: 90px;
                    height: 90px;
                    background-color: #FDBF31;
                    position: relative;
                    margin-bottom: 20px;
                    img{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        -webkit-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                    }
                }
                h6{
                    margin-bottom: 15px;
                }
                ul li,
                p{
                    color: rgba(255,255,255,0.85);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li{
                        padding-left: 16px;
                        position: relative;
                        margin-bottom: 15px;
                        &::before{
                            content: '';
                            width: 5px;
                            height: 5px;
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 9px;
                            border-radius: 50%;
                            background-color: #FDBF31;
                        }
                    }
                }
            }
        }
        .content__image__section{
            width: 100%;
            float: left;
            padding: 110px 0 90px;
            position: relative;
            overflow: hidden;
            .content__block{
                width: 100%;
                float: left;
            }
            .image{
                width: calc(50% - 15px);
                height: 100%;
                top: 0;
                right: 0;
                position: absolute;
                background-size: cover;
                background-position: center;
            }
        }
        .image__block{
            margin: 35px 0;
            img{
                box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
                margin-right: 17px;
            }
        }
        .image__content__section{
            width: 100%;
            float: left;
            padding: 0 0 85px 0;
            h3{
                margin-bottom: 40px;
            }
            .image{
                width: 100%;
                float: left;
                img{
                    width: 100%;
                }
            }
            .text{
                width: 100%;
                float: left;
                margin: 100px 0 0;
                ul li,
                p{
                    color: rgba(255,255,255,0.85);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li{
                        padding-left: 16px;
                        position: relative;
                        margin-bottom: 15px;
                        &::before{
                            content: '';
                            width: 5px;
                            height: 5px;
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 9px;
                            border-radius: 50%;
                            background-color: #FDBF31;
                        }
                    }
                }
            }
        }
        .text-image-section-white{
            width: 100%;
            float: left;
            background-color: #fff;
            padding: 70px 0;
            .text{
                width: 100%;
                float: left;
                margin-top: 90px;
                h1,h2,h3,h4,h5,h6{
                    color: #282828;
                }
                ul li,
                p{
                    color: #505050;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li{
                        padding-left: 16px;
                        position: relative;
                        margin-bottom: 15px;
                        &::before{
                            content: '';
                            width: 5px;
                            height: 5px;
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 9px;
                            border-radius: 50%;
                            background-color: #FDBF31;
                        }
                    }
                }
            }
            .image{
                width: 100%;
                float: left;
                img{
                    width: 100%;
                }
            }
        }
        .stage__slider__section{
            width: 100%;
            float: left;
            padding: 115px 0 110px;
            .stage__slider{
                width: 100%;
                float: left;
                .swiper-button-{
                    &prev,
                    &next{
                        width: 34px;
                        height: 34px;
                        background-color: #FDBF31;
                        &::after{
                            content: '';
                            width: 9px;
                            height: 16px;
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin: -8px 0 0 -4.5px;
                        }
                    }
                    &prev{
                        left: 0;
                        &::after{
                            background-image: url(../images/project-design/prev-slide.svg);
                        }
                    }
                    &next{
                        right: 0;
                        &::after{
                            background-image: url(../images/project-design/next-slide.svg);
                        }
                    }
                }
                .swiper-slide{
                    width: 100%;
                    height: 350px;
                    float: left;
                    border: 1px solid rgba(255,255,255,0.2);
                    .content{
                        width: 100%;
                        float: left;
                        padding: 80px 40px;
                        opacity: 0;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        -webkit-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                        visibility: hidden;
                        -webkit-transition: all 0.5s ease;
                                transition: all 0.5s ease;
                    }
                    &.swiper-slide-active{
                        .content{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    .title{
                        position: absolute;
                        top: 0;
                        left: 50%;
                        width: auto;
                        display: block;
                        background-color: #FDBF31;
                        -webkit-transform: translateX(-50%);
                                transform: translateX(-50%);
                        h6{
                            padding: 7px 27px;
                            margin-bottom: 0;
                            color: #282828;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                    .subtitle{
                        width: 100%;
                        float: left;
                        h4{
                            margin-bottom: 10px;
                            color: #FDBF31;
                        }
                    }
                    .text{
                        width: 100%;
                        float: left;
                        p{
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 30px;
                            color: #fff;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .prices__section{
            width: 100%;
            float: left;
            background-color: #fff;
            padding: 70px 0 40px;
            .text{
                width: 100%;
                float: left;
                p{
                    margin-bottom: 20px;
                    color: #505050;
                }
                h3{
                    color: #282828;
                    margin-bottom: 30px;
                }
            }
            .price__block{
                width: 100%;
                float: left;
                border: 1px solid #EFEFEF;
                margin: 0 0 30px 0;
                &.show{
                    .content{
                        height: 100%;
                        .more__link{
                            display: none;
                        }
                    }
                }
                .title{
                    width: 100%;
                    float: left;
                    height: 84px;
                    background-color: #EFEFEF;
                    position: relative;
                    h5{
                        width: 100%;
                        color: #282828;
                        margin-bottom: 0;
                        padding: 0 20px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        -webkit-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                    }
                }
                .content{
                    width: 100%;
                    height: 470px;
                    float: left;
                    padding: 20px 20px 60px 20px ;
                    position: relative;
                    overflow: hidden;
                    -webkit-transition: height 0.5s ease;
                            transition: height 0.5s ease;
                    ul li,
                    p{
                        color: #505050;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                    }
                    ul {
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        li{
                            padding-left: 16px;
                            position: relative;
                            margin-bottom: 15px;
                            &::before{
                                content: '';
                                width: 5px;
                                height: 5px;
                                display: block;
                                position: absolute;
                                left: 0;
                                top: 9px;
                                border-radius: 50%;
                                background-color: #FDBF31;
                            }
                        }
                    }
                    .more__link{
                        width: 100%;
                        float: left;
                        background-color: #fff;
                        padding: 25px 20px;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                        color: #FDBF31;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        cursor: pointer;
                    }
                }
                .price{
                    width: 100%;
                    float: left;
                    padding: 20px;
                    font-size: 20px;
                    line-height: 24px;
                    color: #282828;
                    background-color: #FDBF31;
                    b{
                        font-weight: 600;
                        font-size: 32px;
                        line-height: 38px;
                    }
                }
            }
        }
        .images__gallery{
            width: 100%;
            float: left;
            padding: 30px 0 50px;
            h3{
                margin-bottom: 30px;
            }
            .gallery__slider{
                width: 100%;
                float: left;
                .slick-slide{
                    &:focus{
                        outline: none;
                    }
                }
                .slide{
                    padding: 0 20px 15px 0;
                }
                .image{
                    width: 100%;
                    height: 200px;
                    background-size: cover;
                    background-position: center;
                }
                .slick-arrow{
                    width: 34px;
                    height: 34px;
                    display: block;
                    border: none;
                    position: absolute;
                    background-color: #FDBF31;
                    z-index: 1;
                    bottom: 22px;
                    font-size: 0;
                    color: transparent;
                    padding: 0;
                    cursor: pointer;
                    &:focus{
                        outline: none;
                    }
                    &::before{
                        content: '';
                        width: 9px;
                        height: 16px;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin: -8px 0 0 -4.5px;
                    }
                    &.slick-prev{
                        right: 54px;
                        &::before{
                            background-image: url(../images/project-design/prev-slide.svg);
                        }
                    }
                    &.slick-next{
                        right: 20px;
                        &::before{
                            background-image: url(../images/project-design/next-slide.svg);
                        }
                    }
                }
            }
        }
    }
}
.information__wrapper{
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 70px 0 65px;
    h1, h2, h3, h4, h5, h6{
        color: #282828;
    }
    p{
        color: #505050;
    }
    .faq__section{
        width: 100%;
        float: left;
        padding: 70px 0 65px;
        
        h3{
            margin-bottom: 30px;
        }
        h3,h6{
            color: #282828;
        }
        p{
            color: #505050;
        }
        .faq__{
            &wrapper{
                width: 100%;
                float: left;
            }
            &row{
                width: 100%;
                float: left;
                margin: 0 0 5px;
                padding: 20px 80px 5px 30px;
                border: 1px solid rgba(64,64,64,0.12);
                cursor: pointer;
                &.show{
                    .icon{
                        &::before{
                            display: none;
                        }
                    }
                    .content{
                        display: block;
                    }
                }
                .icon{
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 21px;
                    right: 20px;
                    &::before{
                        content: '';
                        width: 2px;
                        height: 20px;
                        background-color: #FDBF31;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin: -10px 0 0 -1px;
                        -webkit-transition: all 0.2s ease;
                                transition: all 0.2s ease;
                    }
                    &::after{
                        content: '';
                        width: 20px;
                        height: 2px;
                        background-color: #FDBF31;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin: -1px 0 0 -10px;
                        -webkit-transition: all 0.2s ease;
                                transition: all 0.2s ease;
                    }
                }
                .title{
                    width: 100%;
                    float: left;
                    h6{
                        margin-bottom: 15px;
                        font-weight: 600;
                    }
                }
                .icon{
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 21px;
                    right: 21px;
                }
                .content{
                    width: 100%;
                    float: left;
                    display: none;
                    -webkit-transition: all 0.2s ease;
                            transition: all 0.2s ease;
                    p{
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
}
.repair__cost__{
    &title{
        h3{
            margin-bottom: 20px;
        }
    }
    &summary{
        width: 100%;
        float: left;
        margin-bottom: 30px;
        .form__text__field{
            width: 100%;
            float: left;
            margin-bottom: 10px;
        }
        h6{
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            color: #282828;
        }
        .value{
            font-size: 16px;
            line-height: 24px;
            color: #505050;
        }
    }
    &calculator{
        &__section{
            width: 100%;
            float: left;
            margin-bottom: 95px;
        }
        &__bullets{
            width: 100%;
            float: left;
            counter-reset: steps;
            margin-bottom: 39px;
            .bullet{
                width: 20%;
                float: left;
                position: relative;
                padding: 46px 0 0 0;
                &.active{
                    &::before{
                        background-color: #FDBF31;
                    }
                    &::after{
                        background-color: #FDBF31;
                    }
                }
                &:last-child{
                    &::after{
                        display: none;
                    }
                }
                &::after{
                    content: '';
                    top: 17px;
                    left: 46px;
                    right: 10px;
                    height: 1px;
                    background-color: #F4F4F4;
                    display: block;
                    position: absolute;
                    -webkit-transition: all 0.2s ease;
                            transition: all 0.2s ease;
                }
                &::before{
                    content: counter(steps);
                    counter-increment: steps; 
                    display: block;
                    width: 36px;
                    height: 36px;
                    background-color: #F4F4F4;
                    position: absolute;
                    text-align: center;
                    line-height: 36px;
                    top: 0;
                    left: 0;
                    font-weight: 600;
                    font-size: 16px;
                    -webkit-transition: all 0.2s ease;
                            transition: all 0.2s ease;
                }
                h6{
                    font-weight: 600;
                    line-height: 22px;
                    margin-bottom: 0;
                }
            }
        }
        &__step{
            width: 100%;
            float: left;
            position: relative;
            display: none;
            padding: 0 0 56px 0;
            .steps__navigation{
                position: absolute;
                bottom: 0;
                right: 0;
                display: flex;
                .btn{
                    display: inline-flex;
                    &:last-child{
                        margin-left: 20px;
                    }
                    // &[disabled]{
                    //     opacity: 0.5;
                    //     pointer-events: none;
                    // }
                }
                &.default{
                    position: static;
                    float: right;
                }
            }
            &.active{
                display: block;
            }
            &s{
                width: 100%;
                float: left;
                .wpcf7 form .wpcf7-form-control-wrap{
                    width: 100%;
                    float: left;
                    position: relative;
                    span.wpcf7-not-valid-tip{
                        color: rgba(255,0,0,.5);
                        bottom: -20px;
                    }
                }
                .wpcf7 form .wpcf7-response-output{
                    width: 100%;
                    max-width: 100%;
                    float: left;
                    margin: 30px 0 0;
                    color: #282828;
                }
            }
        }
    }
}
@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
.radio__field{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    &.error{
        &~{
            .radio__field__block{
                animation: blinker 1s linear 3;
                .title,
                .thumbnail{
                    border-color: rgba(255,0,0,0.5);
                }
                .title{
                    background-color: rgba(255,0,0,0.5);
                }
            }
        }
    }
    &:checked{
        &~{
            .radio__field__block{
                .title,
                .thumbnail{
                    border-color: #FDBF31;
                }
                .title{
                    background-color: #FDBF31;
                }
            }
        }
    }
    &__group{
        width: 100%;
        float: left;
        position: relative;
        margin-bottom: 30px;
        cursor: pointer;
        -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
        &:hover{
            opacity: 0.7;
        }
    }
    &__block{
        width: 100%;
        height: 264px;
        background-color: #fff;
        .thumbnail{
            width: 100%;
            height: 224px;
            float: left;
            border: 3px solid transparent;
            background-size: cover;
            background-position: center;
            -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
        }
        .title{
            width: 100%;
            float: left;
            border: 1px solid #EEEEEE;
            border-top: none;
            padding: 7px 10px;
            min-height: 40px;
            -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
            h6{
                font-weight: 600;
                margin-bottom: 0;
            }
        }
    }
}
body:hover{
    .move__circle{
        opacity: 1;
    }
}
.move__circle{
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    -webkit-transition: all 0.05s ease;
    transition: all 0.05s ease;
    user-select: none;
    pointer-events: none;
    will-change: transform;
    opacity: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(253,191,49,0.3) 0%, rgba(75,57,14,0) 70%, rgba(0,0,0,0) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(253,191,49,0.3)), color-stop(70%, rgba(75,57,14,0)), color-stop(100%, rgba(0,0,0,0))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(253,191,49,0.3) 0%, rgba(75,57,14,0) 70%, rgba(0,0,0,0) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(253,191,49,0.3) 0%, rgba(75,57,14,0) 70%, rgba(0,0,0,0) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(253,191,49,0.3) 0%, rgba(75,57,14,0) 70%, rgba(0,0,0,0) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(253,191,49,0.3) 0%, rgba(75,57,14,0) 70%, rgba(0,0,0,0) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FDBF31', endColorstr='#000000',GradientType=1 );
}
.slide{
    outline: none;
}
@media screen and (max-height: 700px){
    .content__wrapper.content{
        .contact__block{
            margin-top: 0;
        }
        .contact__form.full{
            margin-top: 20px;
        }
    }
}
@media screen and (max-width: 1600px){
    .content__wrapper.content .services .services__row .service__block{
        width: 190px;
        height: 190px;
        margin: 12px 12px 0 0;
        .block{
            .icon{
                margin-bottom: 10px;
            }
        }
    }
}
@media screen and (max-width: 1400px){
    .content__wrapper{
        &.content{
            &.full{
                padding-right: 60px;
            }
            .price__group{
                padding-right: 0;
            }
            .contact__form.full{
                padding: 50px 0 0 30px;
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    .col__50{
        width: 100%;
    }
    .content__wrapper{
        &.content{
            .contact__form.full{
                padding: 0;
            }
            .company__benefits .benefits__sections .benefit__nav__bar {
                margin-bottom: 30px;
                h3{
                    filter: blur(0);
                    margin-bottom: 10px;
                    position: relative;
                    &::after{
                        content: '';
                        display: block;
                        position: absolute;
                        width: 0;
                        height: 2px;
                        bottom: -5px;
                        left: 0;
                        background-color: #FDBF31;
                        -webkit-transition: all 0.2s ease;
                                transition: all 0.2s ease;
                    }
                    &:hover,
                    &.active{
                        color: #FDBF31;
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .form-group.full{
        padding-right: 0;
    }
}
@include media-breakpoint-down(md) {
    .content__wrapper{
        padding-top: 50px;
        padding-left: 0;
        padding-right: 0;
        .page__title{
            h2{
                margin-bottom: 30px;
            }
        }
        &.blog{
            // padding-top: 120px;
        }
        &.content{
            padding-right: 0;
            &.full{
                padding-right: 0;
            }
            .contact__block{
                padding: 30px;
                min-height: inherit;
                .social .social__links{
                    margin-bottom: 0;
                }
            }
            .price__group ul li{
                padding: 9px 160px 9px 30px;
                &:before{
                    left: 12px;
                }
                .price{
                    right: 15px;
                }
            }
            .company__benefits {
                .benefits__sections{
                    margin: 30px 0 0;
                }
                .benefit__section{
                    .content,
                    .nav__bar{
                        width: 100%;
                        h3{
                            margin-bottom: 15px;
                        }
                    }
                    .nav__bar{
                        margin-bottom: 30px;
                    }
                }
            }
            .content__image__section {
                padding: 30px 0 30px 0;
                .content__block{
                    margin-top: 300px;
                }
                .image{
                    width: 100%;
                    height: 300px;
                }
            }
            .stage__slider__block{
                margin-bottom: 20px;
            }
            .service__banner{
                margin-bottom: 30px;
                height: 350px;
                h1{
                    left: 0;
                    right: 0;
                }
            }
            .service__content{
                padding: 0 20px;
                .btn__group {
                    .btn{
                        margin: 0 auto 30px;

                    }
                    &.small-margin{
                        .btn{
                            margin: 0 auto 10px;
                        }
                    }
                }
            }
            .stage__slider__wrapper{
                min-height: inherit;
                padding-right: 0;
                padding-top: 320px;
            }
            .stage__slider__image{
                right: 0;
                width: 100%;
                .image{
                    height: 300px;
                }
            }
            .image__content__section .text{
                margin: 30px 0 0;
            }
            .text-image-section-white .text{
                margin: 0;
            }
            .stage__slider__section{
                padding: 70px 0;
                .stage__slider .swiper-slide {
                    height: 400px;
                    .content{
                        padding: 60px 34px 40px;
                    }
                }
            }
        }
    }
    .move__circle{
        display: none;
    }
    .repair__cost__calculator__bullets {
        margin-bottom: 25px;
        .bullet{
            h6{
                display: none;
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .field__group .half{
        width: 100%;
    }
    .content__wrapper.content .benefits ul li{
        width: 100%;
    }
    .content__wrapper.content .stage__slider__section .stage__slider .swiper-slide{
        height: 450px;
    }
}
@include media-breakpoint-down(xs) {
    .content__wrapper.content {
        .testimonials__slider .slide .block {
            p{
                margin-bottom: 25px;
            }
            .avatar{
                position: static;
            }
            h6{
                margin-top: 10px;
                padding-left: 0;
            }
        }
        .images__gallery .gallery__slider .image{
            height: 130px;
        }
        .stage__slider__section .stage__slider .swiper-slide{
            height: 550px;
            .text p{
                line-height: 24px;
            }
        }
    }
}
@media screen and (max-width: 450px){
    .content__wrapper.content {
        .services .services__row .service__block{
            width: 100%;
            height: 200px;
            margin: 12px 0 0 0;
            .block{
                .icon{
                    margin-bottom: 20px;
                }
            }
        }
        .numbers .number__block{
            width: 100%;
            margin: 25px 0 0 0;
        }
    }
}