body{
    &.admin-bar{
        header{
            top: 32px;
        }
    }
}
.mobile__nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #1e3343;
    z-index: 21;
    opacity: 0;
    visibility: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(30, 51, 67, 1);
    z-index: 20;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &.show__menu{
        left: 0;
    }
    .logo{
        width: 152px;
        height: 30px;
        display: block;
        margin: 14px 0 0 0;
        position: relative;
        z-index: 2;
    }
    .nav__line{
        width: 100%;
        height: 70px;
        padding: 0 40px;
        float: left;
        .social__links{
            height: 18px;
            display: block;
            margin: 8px 0 0 14px;
            a{
                width: 18px;
                height: 18px;
                display: block;
                float: left;
                margin-left: 16px;
                background-position: center;
                background-size: cover;
                -webkit-transition: all 0.8s ease;
                transition: all 0.8s ease;
                &:hover{
                    -webkit-transform: rotateZ(360deg);
                    transform: rotateZ(360deg);
                }
                &.facebook{
                    background-image: url(../images/facebook.svg);
                }
                &.instagram{
                    background-image: url(../images/instagram.svg);
                }
            }
        }
        .phone__block{
            margin: 8px 10px 0 30px;
            position: relative;
            &.single{
                a{
                    &:first-child{
                        &::after{
                            display: none;
                        }
                    }
                }
            }
            &:hover{
                .phone__list{
                    opacity: 1;
                    visibility: visible;
                    
                }
                a:first-child::after{
                    -webkit-transform: rotate(180deg);
                            transform: rotate(180deg);
                }
            }
            .phone__list{
                width: 140px;
                position: absolute;
                right: -28px;
                top: -10px;
                text-align: center;
                padding: 10px 25px 15px 15px;
                opacity: 0;
                visibility: hidden;
                background-color: #1e3343;
                -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                a{
                    margin-bottom: 10px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            a{
                font-weight: normal;
                line-height: normal;
                font-size: 14px;
                font-weight: 300;
                color: #FFFFFF;
                padding-left: 20px;
                position: relative;
                margin-top: 0;
                display: block;
                float: left;
                &:first-child{
                    padding-left: 21px;
                }
                &:hover{
                    text-decoration: none;
                    color: #FDBF31;
                }
                &:first-child{
                    &::before{
                        content: '';
                        width: 14px;
                        height: 19px;
                        display: block;
                        position: absolute;
                        top: -1px;
                        left: 0;
                        background-image: url(../images/phone.svg);
                        // animation: quick-alo-circle-img-anim 0.8s infinite ease-in-out;
                    }
                    &::after{
                        content: '';
                        display: block;
                        position: absolute;
                        width: 10px;
                        height: 6px;
                        top: 5px;
                        right: -20px;
                        background-image: url(../images/menu-arrow-small.svg);
                        -webkit-transition: all 0.3s ease;
                                transition: all 0.3s ease;
                    }
                }
            }
        }
        .email__block{
            line-height: 0;
            margin: 8px 0 0;
            a{
                line-height: normal;
                font-size: 14px;
                font-weight: 300;
                color: #FFFFFF;
                &:hover{
                    color: #FDBF31;
                }
            }
        }
    }
    .nav__group{
        button{
            margin: 15px 0 0 70px;
        }
    }
    .main__navigation{
        margin: 0 0 0 25px;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            ul{
                width: 350px;
                padding: 8px 20px 8px;
                position: absolute;
                top: 120%;
                left: 0;
                opacity: 0;
                visibility: hidden;
                background: rgba(30, 51, 67, 0.9);
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                li{
                    width: 100%;
                    float: left;
                    margin: 0;
                    padding: 0 20px 0 0;
                    a{
                        padding: 7px 0;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 20px;
                        &::after{
                            display: none;
                        }
                    }
                }
            }
            li{
                float: left;
                margin: 0 10px;
                position: relative;
                &:hover{
                    >ul{
                        opacity: 1;
                        visibility: visible;
                        top: 100%;
                    }
                }
                &.popup__link{
                    a{
                        display: inline-block;
                        width: auto;
                        border-bottom: 1px dashed #fff;
                        padding: 6.5px 0 1px;
                        margin-left: 60px;
                        &::after{
                            display: none;
                        }
                        &:hover{
                            border-color: #FDBF31;
                        }
                    }
                }
                &.menu-item-has-children{
                    >a{
                        padding: 21px 20px 22px 5px;
                        &::before{
                            content: '';
                            display: block;
                            position: absolute;
                            width: 10px;
                            height: 6px;
                            top: 27px;
                            right: 3px;
                            background-image: url(../images/menu-arrow-small.svg);
                            -webkit-transition: all 0.3s ease;
                                    transition: all 0.3s ease;
                        }
                    }
                    &:hover{
                        >a::before{
                            -webkit-transform: rotate(180deg);
                                    transform: rotate(180deg);
                        }
                    }
                }
                &.current-menu-item{
                    >a{
                        text-decoration: none;
                        color: #FDBF31;
                        &::after{
                            width: 100%;
                            visibility: visible;
                        }
                    }
                }
                &.show__services{
                    a{
                        &:after{
                            display: none;
                        }
                    }
                }
                .show__bar{
                    width: 37px;
                    height: 37px;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    cursor: pointer;
                    background-size: 15px 15px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url(../images/menu-arrow.svg);
                    -webkit-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                    &:hover{
                        opacity: 0.6;
                    }
                    &.show{
                        opacity: 1;
                        background-color: rgba(30,51,67,.8);
                        -webkit-transform: rotate(180deg);
                                transform: rotate(180deg);
                    }
                    &.hide{
                        opacity: 0;
                        visibility: hidden;
                    }
                }
                a{
                    width: 100%;
                    padding: 21px 5px 22px 5px;
                    display: block;
                    font-weight: 300;
                    line-height: normal;
                    font-size: 14px;
                    color: #FFFFFF;
                    position: relative;
                    &::after{
                        content: '';
                        width: 2px;
                        height: 2px;
                        display: block;
                        background-color: #FDBF31;
                        position: absolute;
                        left: 0px;
                        bottom: 0;
                        -webkit-transition: all 0.3s ease;
                                transition: all 0.3s ease;
                        visibility: hidden;
                    }
                    &:hover{
                        text-decoration: none;
                        color: #FDBF31;
                        &::after{
                            width: 100%;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    .address__info{
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        line-height: normal;
        a{
            color: #fff;
            &:hover{
                color: #FDBF31;
            }
        }
        .address{
            padding-left: 20px;
            margin-right: 40px;
            position: relative;
            &::before{
                content: '';
                display: block;
                width: 13px;
                height: 19px;
                position: absolute;
                left: 0;
                top: -2px;
                background-image: url(../images/pin.svg);
            }
        }
        .timetable{
            padding-left: 27px;
            &::before{
                content: '';
                display: block;
                width: 19px;
                height: 19px;
                position: absolute;
                left: 0;
                top: -2px;
                background-image: url(../images/timetable-white.svg);
            }
        }
        div{
            position: relative;
        }
    }
    .contact__line{
        width: 100%;
        min-height: 50px;
        float: left;
        background-color: #282828;
        padding: 16px 120px 15px;
        position: relative;
        z-index: 1;
    }
    .contacts__info{
        margin: 11px 0 0;
        button{
            margin-left: 40px;
        }
    }
}
.mobile__logo{
    position: absolute;
    top: 21px;
    left: 20px;
    z-index: 100;
}
.mobile__btn{
    width: 36px;
    height: 32px;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    z-index: 100;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    span{
        width: 32px;
        height: 2px;
        display: block;
        background-color: #FDBF31;
        position: absolute;
        left: 2px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:nth-child(1){
            top: 2px;
        }
        &:nth-child(2){
            top: 15px;
        }
        &:nth-child(3){
            top: 28px;
        }
    }
    &.show__menu{
        span{
            &:nth-child(1){
                top: 14px;
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
            }
            &:nth-child(2){
                opacity: 0;
                left: -30px;
            }
            &:nth-child(3){
                top: 14px;
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
        }
    }
}
.service__bar{
    position: fixed;
    top: 0;
    left: 150px;
    width: 270px;
    height: 100%;
    background: rgba(30, 51, 67, 0.8);
    z-index: 20;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &.show{
        left: 270px;
        opacity: 1;
        visibility: visible;
    }
    .hide__bar{
        width: 37px;
        height: 37px;
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -18.5px;
        cursor: pointer;
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/menu-arrow.svg);
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        &:hover{
            opacity: 0.6;
        }
        &.show{
            opacity: 1;
            background-color: rgba(30,51,67,.8);
        }
        &.hide{
            opacity: 0;
            visibility: hidden;
        }
    }
    nav{
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                width: 100%;
                float: left;
                margin: 4px 0;
                position: relative;
                &.current-menu-item{
                    a{
                        text-decoration: none;
                        color: #FDBF31;
                        &::after{
                            height: 100%;
                            visibility: visible;
                        }
                    }
                }
                a{
                    width: 100%;
                    padding: 8px 0 8px 50px;
                    display: block;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 17px;
                    color: #FFFFFF;
                    position: relative;
                    &::after{
                        content: '';
                        width: 2px;
                        height: 2px;
                        display: block;
                        background-color: #FDBF31;
                        position: absolute;
                        right: 0px;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        -webkit-transition: all 0.3s ease;
                                transition: all 0.3s ease;
                        visibility: hidden;
                    }
                    &:hover{
                        text-decoration: none;
                        color: #FDBF31;
                        &::after{
                            height: 100%;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.8);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.8);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.8);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

@keyframes quick-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}
@-webkit-keyframes quick-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}

@media screen and (max-height: 800px){
    // header .contact__block{
    //     bottom: 50px;
    // }
}
@media screen and (max-height: 650px){
    // header {
    //     .logo{
    //         margin: 40px 0 0 60px;
    //     }
    //     .main__navigation ul li {
    //         a{
    //             padding: 5px 0 5px 60px;
    //         }
    //         .show__bar{
    //             width: 31px;
    //             height: 31px;
    //         }
    //     }
    //     .contact__block{
    //         bottom: 50px;
    //     }
    // }
}
@media screen and (max-width: 1600px){
    header {
        .nav__line{
            padding: 0;
            .phone__block{
                margin-left: 20px;
            }
            .social__links a{
                margin-left: 10px;
            }
        }
        .contacts__info {
            button{
                margin-left: 20px;
            }
        }
        .contact__line {
            .phone__block{
                margin-left: 20px;
                // a{
                //     padding-left: 10px;
                // }
            }
            .email__block{
                margin: 0;
            }
            .social__links{
                margin: 8px 0 0 0;
                clear: both;
                a{
                    margin: 0 20px 0 0;
                }
            }
        }
        .address__info .timetable{
            clear: both;
            margin: 8px 0 0 0;
        }
        .nav__group button{
            margin: 15px 0 0 25px;
        }
        .main__navigation ul li{
            margin: 0;
        }
    }
}
@media screen and (max-width: 1400px){
    header {
        .main__navigation ul li a{
            font-size: 12px;
            line-height: 17px;
            padding: 21px 3px 22px;
        }
        .nav__line {
            .email__block a,
            .phone__block a{
                font-size: 12px;
                line-height: 17px;
            }
            .social__links a{
                width: 15px;
                height: 15px;
            }
            .btn.small{
                height: 32px;
                line-height: 32px;
                font-size: 12px;
                line-height: 17px;
                padding: 0 10px;
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    header {
        width: 100%;
        left: -100%;
        height: auto;
        bottom: 0;
        background: rgba(49, 49, 49, 0.9);
        padding: 100px 0 0;
        &::after{
            display: none;
        }
        .logo{
            margin: 21px auto 0;
            display: none;
        }
        .nav__group{
            &.float-right{
                width: 100%;
                float: left!important;
                margin-top: 170px;
                button{
                    margin: 50px 0 0 0;
                }
            }
        }
        .contacts__info{
            width: 100%;
            &.float-right{
                float: left!important;
            }
            button{
                margin-left: 0;
            }
        }
        .contact__line{
            display: none;
        }
        .nav__line{
            padding: 0 5px;
            .email__block{
                width: 100%;
                margin: 10px 0 0;
            }
            .phone__block{
                width: 100%;
                margin: 10px 0 0;
                &>a{
                    display: none;
                }
                .phone__list{
                    width: 100%;
                    float: left;
                    right: 0;
                    top: 0;
                    opacity: 1;
                    visibility: visible;
                    position: static;
                    background-color: transparent;
                    padding: 0;
                    a{
                        &::after{
                            display: none;
                        }
                    }
                }
            }
            .social__links{
                width: 100%;
                margin: 15px 0 20px 0;
                a{
                    margin-left: 0;
                    margin-right: 10px;
                }
            }
        }
        .main__navigation{
            width: 100%;
            margin: 0;
            ul{
                li{
                    width: 100%;
                    margin: 0;
                    &.popup__link{
                        text-align: left;
                        padding: 6.5px 20px 1px;
                        a{
                            margin-left: 0;
                        }
                    }
                    &.menu-item-has-children>a{
                        padding: 6px 0;
                        &::before{
                            top: 12px;
                            right: -20px;
                        }
                    }
                    a{
                        width: auto;
                        display: inline-block;
                        text-align: left;
                        padding: 5px 0;
                        font-size: 14px;
                        line-height: 19px;
                        &::after{
                            display: none;
                        }
                    }
                    .show__bar{
                        height: 33px;
                        position: relative;
                        display: inline-block;
                        top: 10px;
                    }
                }
                ul{
                    width: 100%;
                    float: left;
                    position: static;
                    opacity: 1;
                    visibility: visible;
                    background: transparent;
                    padding: 5px 0 5px 15px;
                    li{
                        margin: 0;
                        padding: 0;
                        a{
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
        .contact__block{
            left: 50%;
            padding: 0 20px;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            .social__links{
                margin-bottom: 15px;
                margin-left: 0;
                text-align: left;
                a{
                    display: inline-block;
                    float: none;
                    margin: 0 20px 0 0;
                }
            }
            .phone__block{
                margin: 0 0 15px;
                text-align: left;
            }
            .email__block{
                text-align: left;
            }
        }
        .contact__line{
            padding: 16px 50px 15px;
        }
        .address__info {
            &.float-left{}
            .timetable{
                clear: none;
                margin: 0;
            }
        }
        // .contacts__info.float-right{
        //     float: left!important;
        //     margin-top: 8px;
        // }
        .contact__line .social__links{
            clear: none;
            margin: 0 0 0 30px;
        }
    }
    .mobile__nav{
        opacity: 1;
        visibility: visible;
    }
    .mobile__btn{
        display: block;
    }
    .service__bar{
        width: 100%;
        left: -100%;
        background: rgba(30, 51, 67, 1);
        &.show{
            left: 0;
        }
        .hide__bar{
            left: 10px;
        }
    }
}
@include media-breakpoint-down(xs) {
    header {
        .contact__block{
            bottom: 30px;
        }
    }
}
@media screen and (max-width: 767px) and (max-height: 667px){
    header .nav__group.float-right{
        margin-top: 80px;
        .button{
            margin: 20px 0 0;
        }
    }
}