.letters__wrapper{
	width: 100%;
	float: left;
	margin: 30px 0 80px;
	h2{
		width: 100%;
		float: left;
		margin-bottom: 40px!important;
	}
}
.letters__slider{
	width: 100%;
	float: left;
	.slick-arrow{
        position: absolute;
        top: 50%;
        display: block;
        width: 14px;
        height: 21px;
        margin-top: -10.5px;
        background-color: transparent;
        color: transparent;
        font-size: 0;
        border: none;
        z-index: 10;
        outline: none;
        cursor: pointer;
        -webkit-transition: all 0.2s ease;
        		transition: all 0.2s ease;
        &.slick-prev{
            background-image: url(../images/prev-slide.svg);
            left: -31px;
        }
        &.slick-next{
            background-image: url(../images/next-slide.svg);
            right: -31px;
        }
        &:active{
            -webkit-transform: scale(0.8);
            		transform: scale(0.8);
        }
    }
    .slick-dots{
    	bottom: -50px;
    }
    .slide{
    	padding: 0 10px;
    	&.slick-center{
    		a{
    			-webkit-transform: scale(1);
            			transform: scale(1);
    		}
    	}
    	a{
    		display: block;
    		-webkit-transform: scale(0.85);
            		transform: scale(0.85);
    		-webkit-transition: all 0.3s ease;
        			transition: all 0.3s ease;
    	}
    }
}
@include media-breakpoint-down(sm) {
	.letters__slider .slide{
		padding: 0;
	}
}