.slider__section{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 40px;
}
.main__slider{
    width: 100%;
    float: left;
    .slide{
        width: 100%;
        min-height: calc(100vh);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        position: relative;
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.15);
        }
        .content{
            position: absolute;
            top: 60%;
            left: 300px;
            right: 20px;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            opacity: 0;
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
            h2{
                font-weight: bold;
                line-height: 72px;
                font-size: 54px;
                color: #FFFFFF;
                text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
                margin-bottom: 34px;
            }
        }
        &.slick-active{
            .content{
                top: 45%;
                opacity: 1;
            }
        }
    }
    .slick-dots{
        bottom: 30px;
    }
}
.slider__navigation{
    position: absolute;
    bottom: 80px;
    left: 300px;
    z-index: 10;
    .slide{
        width: 130px;
        float: left;
        margin: 5px 30px 5px 0;
        cursor: pointer;
        h3{
            font-weight: normal;
            line-height: 19px;
            font-size: 14px;
            color: #fff;
        }
        .timeline{
            width: 130px;
            height: 2px;
            display: block;
            background: rgba(255, 255, 255, 0.45);
            overflow: hidden;
            position: relative;
            &::before{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: #fff;
                left: -100%;
                -webkit-transition: all 11s ease;
                transition: all 11s ease;
            }
        }
        &.active{
            h3{
                color: #FDBF31;
            }
            .timeline{
                &::before{
                    left: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 1400px){
    .main__slider .slide{
        .content{
            left: 150px;
            h2{
                line-height: 58px;
                font-size: 48px;
            }
        }
    }
    .slider__navigation{
        left: 150px;
        .slide{
            width: 110px;
            margin-right: 20px;
            h3{
                font-size: 12px;
                margin-bottom: 5px;
            }
            .timeline{
                width: 110px;
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    .main__slider .slide{
        .content{
            h2{
                line-height: 48px;
                font-size: 36px;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .main__slider .slide{
        .content{
            left: 20px;
            h2{
                line-height: 48px;
                font-size: 36px;
            }
        }
    }
    .slider__navigation{
        left: 20px;
    }
}
@include media-breakpoint-down(sm) {
    .page__wrapper .large__logo{
        display: none;
    }
    .main__slider .slide{
        .content{
            top: 60%;
            h2{
                line-height: 40px;
                font-size: 32px;
            }
        }
        &.slick-active{
            .content{
                top: 50%;
            }
        }
    }
    .slider__navigation{
        display: none;
    }
    .button__group a,
    .button__group button{
        margin: 5px 23px 5px 0;
    }
}
@include media-breakpoint-down(xs) {
    .main__slider .slide{
        .content{
            h2{
                line-height: 32px;
                font-size: 26px;
            }
        }
    }
    .button__group a,
    .button__group button{
        min-width: 180px;
    }
}