.portfolio__wrapper{
    width: 100%;
    height: 100%;
    .project__block{
        width: 100%;
        float: left;
        margin-bottom: 50px;
    }
    .project__slider{
        width: 65%;
        float: left;
        box-shadow: none;
        .image{
            width: 100%;
            height: 500px;
            background-size: cover;
            background-position: center;
        }
        .slick-dots{
            bottom: 20px;
        }
        .slick-arrow{
            &.slick-prev{
                left: 20px;
            }
            &.slick-next{
                right: 20px;
            }
        }
    }
    .information__block{
        width: 35%;
        height: 500px;
        float: left;
        padding: 30px 20px;
        background-color: #fff;
        -webkit-transition: all 0.7s ease;
                transition: all 0.7s ease;
        .content{
            width: 100%;
            float: left;
            .values__table{
                width: 100%;
                float: left;
                margin-bottom: 50px;
               .values__row{
                    width: 100%;
                    float: left;
                    margin-bottom: 15px;
               } 
            }
            h6{
                font-weight: 500;
                margin-bottom: 5px;
                color: #282828;
            }
            h5{
                font-weight: 400;
                color: #505050;
                margin-bottom: 0;
            }
        }
        a{
            display: block;
            float: left;
            font-weight: normal;
            line-height: 23px;
            font-size: 17px;
            color: #FDBF31;
            border-bottom: 1px solid #FDBF31;
            padding-bottom: 2px;
            span{
                display: block;
                float: left;
                margin-right: 8px;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            i{
                width: 19px;
                height: 12px;
                display: block;
                float: left;
                background-image: url(../images/arrow.svg);
                margin: 6px 0 0 0;
            }
            &:hover{
                span{
                    margin-right: 15px
                }
            }
        }
        
    }
}
.scroll__hint{
    position: absolute;
    bottom: 15px;
    padding-left: 144px;
    left: 50%;
    i{
        display: block;
        width: 21px;
        height: 35px;
        background-image: url(../images/scroll-icon.svg);
        float: left;
    }
    span{
        margin: 8px 0 0 14px;
        display: block;
        font-weight: normal;
        line-height: 19px;
        font-size: 14px;
        color: #FFFFFF;
        float: left;
    }
}
.slide__counter{
    position: absolute;
    top: 50%;
    right: 40px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    .line{
        width: 2px;
        height: 36px;
        background-color: #fff;
    }
    .count{
        font-weight: 600;
        line-height: normal;
        font-size: 18px;
        color: #FFFFFF;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        &.current{
            top: -28px;
        }
        &.all{
            bottom: -28px;
        }
    }
}
/*Project*/
.nav__row{
    width: 100%;
    float: left;
    margin-bottom: 32px;
    a{
        display: block;
        float: left;
        i{
            width: 19px;
            height: 12px;
            display: block;
            float: left;
            background-image: url(../images/arrow-prev.svg);
            margin: 3px 9px 0 0;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        span{
            font-weight: normal;
            line-height: 19px;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.5);
            display: block;
            float: left;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        &:hover{
            span{
                color: #FDBF31;
            }
            i{
                margin: 3px 14px 0 -5px;
            }
        }
    }
}
.project__information{
    width: 100%;
    float: left;
    margin-bottom: 100px;
    .project__images{
        width: 60%;
        max-width: 825px;
        float: left;
    }
    .project__details{
        width: 40%;
        float: left;
        padding: 0 30px 0 70px;
        .content{
            h1{
                font-weight: bold;
                line-height: 31px;
                font-size: 23px;
                color: #FFFFFF;
                margin-bottom: 15px;
            }
            .button__group{
                width: 100%;
                float: left;
                margin-bottom: 70px;
            }
            .form__block{
                width: 100%;
                float: left;
                h2{
                    font-weight: bold;
                    line-height: 28px;
                    font-size: 20px;
                    color: #FFFFFF;
                    margin-bottom: 15px;
                }
                .form-group{
                    &.name{
                        width: 50%;
                        float: left;
                        padding-right: 10px;
                    }
                    &.tel{
                        width: 50%;
                        float: left;
                        padding-left: 10px;
                    }
                }
            }
            .table{
                width: 100%;
                float: left;
                margin-bottom: 25px;
                .column{
                    width: 250px;
                    float: left;
                    .table__row{
                        width: 100%;
                        float: left;
                        margin: 8px 0;
                    }
                    .icon{
                        display: block;
                        float: left;
                        &.square{
                            width: 16px;
                            height: 16px;
                            background-image: url(../images/square.svg);
                            margin: 3px 11px 0 0;
                        }
                        &.term{
                            width: 14px;
                            height: 14px;
                            background-image: url(../images/term.svg);
                            margin: 3px 12px 0 0;
                        }
                        &.price{
                            width: 14px;
                            height: 13px;
                            background-image: url(../images/price.svg);
                            margin: 4px 12px 0 0;
                        }
                    }
                    .title,
                    .value{
                        font-weight: normal;
                        line-height: 23px;
                        font-size: 17px;
                        color: #FFFFFF;
                    }
                }
            }
            .info{
                width: 100%;
                max-height: 450px;
                float: left;
                overflow: auto;
                margin-bottom: 40px;
                p{
                    font-weight: 400;
                    line-height: 23px;
                    font-size: 16px;
                    color: #FFFFFF;
                }
                ul{
                    padding: 0;
                    margin: 0;
                    list-style-position: inside;
                    list-style: none;
                    li{
                        font-weight: 400;
                        line-height: 23px;
                        font-size: 16px;
                        color: #FFFFFF;
                        margin-bottom: 22px;
                        &::before{
                            content: '';
                            width: 6px;
                            height: 6px;
                            display: block;
                            float: left;
                            margin: 8px 12px 0 0;
                            background-color: #FDBF31;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}
.project__slider{
    width: 100%;
    float: left;
    position: relative;
    box-shadow: 0px 5px 12px rgba(29, 29, 29, 0.3);
    .slick-arrow{
        position: absolute;
        top: 50%;
        display: block;
        width: 14px;
        height: 21px;
        margin-top: -10.5px;
        background-color: transparent;
        color: transparent;
        font-size: 0;
        border: none;
        z-index: 10;
        cursor: pointer;
        outline: none;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        &.slick-prev{
            background-image: url(../images/prev-slide.svg);
            left: -31px;
        }
        &.slick-next{
            background-image: url(../images/next-slide.svg);
            right: -31px;
        }
        &:active{
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
        }
    }
    .slick-slide{
        a{
            width: 100%;
            height: 450px;
            display: block;
            border-radius: 5px;
            overflow: hidden;
            background-size: cover;
            background-position: bottom center;
            background-repeat: no-repeat;
        }
    }
}
.slick-slide{
    height: auto;
}
.slick-dots{
    position: absolute;
    width: 100%;
    bottom: -30px;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    li{
        display: inline-block;
        &.slick-active{
            button{
                background-color: #FDBF31;
                border-color: #FDBF31;
            }
        }
        button{
            width: 9px;
            height: 9px;
            display: block;
            border-radius: 50%;
            padding: 0;
            margin: 0 6px;
            border: 1px solid #fff;
            background-color: transparent;
            color: transparent;
            font-size: 0;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
    }
}
@media screen and (max-width: 1600px){
    .project__information{
        .project__images,
        .project__details{
            width: 50%;
        }

    }
}
@media screen and (max-width: 1500px){
    .project__information{
        padding-right: 110px;
        .project__images,
        .project__details{
            width: 100%;
            max-width: 100%;
        }
        .project__images{
            margin-bottom: 60px;
        }
        .project__details{
            padding: 0;
            .content .info{
                max-height: 100%;
            }
        }
    }
}
@media screen and (max-width: 1400px){
    .portfolio__wrapper{
        .image__block{
            width: 40%;
        }
        .slide.slick-center .information__block{
            padding-left: 30px;
        }
    }
    .project__information{
        padding-right: 60px;
    }
}
@include media-breakpoint-down(lg) {
    .portfolio__wrapper {
        
    }
}
@include media-breakpoint-down(md) {
    .portfolio__wrapper {
        height: auto;
        .project__slider{
            width: 100%;
            .image{
                height: 300px;
            }
        }
        .information__block{
            width: 100%;
            height: auto;
             .content {
                h6{
                    margin-bottom: 0;
                }
                .values__table{
                    margin-bottom: 20px;
                    .values__row{
                        margin-bottom: 10px;
                    }
                }
             }
        }
    }
    .slide__counter{
        bottom: 20px;
        top: auto;
    }
    .scroll__hint{
        display: none;
    }
    .project__information{
        padding-right: 0px;
        .project__details .content .table{
            .column {
                &.column__title{
                    width: 60%;
                }
                &.column__value{
                    width: 40%;
                    text-align: right;
                }
            }
        }
    }
    .project__slider{
        .slick-arrow{
            display: none!important;
        }
    }
}
@include media-breakpoint-down(sm) {
    .portfolio__wrapper {
        height: auto;
        position: relative;
        .image__block{
            width: 100%;
            max-width: 100%;
            height: 35vh;
            &::before{
                width: 100%;
                height: 3px;
                top: auto;
                bottom: 0;

            }
            &::after{
                top: auto;
                bottom: -3px;
                left: 50%;
                right: auto;
                margin-top: 0;
                margin-left: -3px;
            }
        }
        .slide{
            padding: 0;
            &.slick-center{
                .information__block{
                    padding-left: 0;
                }
            }
        }
        // &::after{
        //     content: '';
        //     width: 6px;
        //     height: 15px;
        //     display: block;
        //     position: fixed;
        //     background-color: #FDBF31;
        //     border-radius: 2px;
        //     bottom: 50px;
        //     left: 50%;
        //     margin-left: -3px;
        //     z-index: 11;
        // }
        // &::before{
        //     content: '';
        //     width: 16px;
        //     height: 37px;
        //     display: block;
        //     border: 1px solid #FDBF31;
        //     border-radius: 7px;
        //     position: fixed;
        //     bottom: 39px;
        //     left: 50%;
        //     margin-left: -8px;
        //     z-index: 12;
        // }
    }
    .slide__counter{
        top: auto;
        bottom: 20px;
        right: 25px;
        display: none;
    }
    .project__information{
        .project__details .content .table{
            .column {
                .title,
                .value{
                    font-size: 15px;
                    line-height: 18px;
                }
            }
        }
        .portfolio__wrapper{
            .slick-slide a{
                height: 500px;
            }
        }
    }
}
@include media-breakpoint-down(xs) {
    .portfolio__wrapper .project__slider .image{
        height: 250px;
    }
    .slide__counter{
        display: none;
    }
    .slick-dots{
        bottom: inherit;
    }
    .project__information .project__slider .slick-slide a{
        height: 350px;
    }
}